{% extends "CCIRamScoBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
{{ parent() }}
<style>
	a {color:#B10000;}
	a:hover, a:active {color:#AA0000;}
</style>
{% endblock %}

{% block body %}
    <h2>Félécitation {{user.username}}, votre compte à bien été créé.</h2>
    <p>
		<a href="http://localhost/Ramassage/web/app_dev.php/accueil">Retour à l'accueil</a>
    </p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
    
    

{% endblock %}
