{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Devenir adhérent - {{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> 
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="{{ asset('bundles/Yasmina/js/datepicker-fr.js') }}"></script>
	<script>
	/*<![CDATA[*/ 
		$(document).ready(function(){
			$("#datepicker").click(function(){
				$( "#datepicker" ).datepicker($.datepicker.regional[ "fr" ]);
				$( "#locale" ).change(function() {
					$( "#datepicker" ).datepicker( "option",
					$.datepicker.regional[ $( this ).val() ] );
				});
			});
		});
	/*]]>*/
  </script>

<style>
	p {padding-left:30px;}
		
	.col-sm-4 {padding-left:5%;padding-right:5%;}
	
	label::after {content: " :	";}
	.YN label::after {content: none;}
	.radio {margin-left:30px;}
	.radio label {margin-right: 60px; margin-left: -20px;}
	.btn {margin-left : 50%;}
	.date_naissance {margin-bottom : 15px;}
	
</style>
{% endblock %}

{% block body %}


<h2>Devenir adhérent :</h2>

<p>Incrivez-vous pour devenir adhérent de l'association et inscrire vos enfants au ramassage scolaire et aux activités organisées.</p>

{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock %}
