{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
{#Pseudo#}
    <p>Pseudo : {{ user.username }}</p>
    
{#Email#}
    <p>Adresse e-mail : {{ user.email }}</p>
    
</div>
