{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Ajout activité - {{ parent() }}
{% endblock %}


{% block body %}
  <h2>Ajout d'une activite</h2>


  <p>Veuillez entrer les informations concernant la nouvelle activité :
<div class="well">

  {{ form(form) }}

</div>
  </p>
{% endblock %}
