{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Ajout participants - {{ parent() }}
{% endblock %}


{% block body %}
  <h2>Ajout d'un participant</h2>


  <p>Veuillez entrer les informations concernant le nouveau participant :
<div class="well">

  {{ form(form) }}

</div>
  </p>
{% endblock %}
