{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	L'association - {{ parent() }}
{% endblock %}


{% block stylesheets %}
{{ parent() }}
<style>
	{#Le CSS de la page (hérite du CSS du layout)#}
	
</style>
{% endblock %}


{% block body %}
   {#Le HTML de la page#}
   <h2>Go Floflo !!!!</h2>
{% endblock %}
