{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	L'association - {{ parent() }}
{% endblock %}


{% block stylesheets %}
{{ parent() }}
<style>
	{#Le CSS de la page (hérite du CSS du layout)#}
	
</style>
{% endblock %}


{% block body %}
   <h2>Présentation</h2>
   <p>
   <!--<img float : left; src="{{ asset('bundles/CCIRamSco/images/busCartoon.jpg') }}" class="img-rounded" alt="Tapis roulant" width=20% />}-->
   <strong>Le Tapis roulant</strong> est une association créée par un collectif de cadres bénévoles en activité et qui facilite l'accès à l'école pour les enfants habitant en zone rurale principalement.
    </br> </br> </br>
   Cette association a pour fonctions :
   </br> </br>
       <ul>
            <li>Le transport scolaire, et plus globalement le transport éducatif</li>
            </br>
            <li>L'organisation d'activités péri ou post-scolaire</li>
            </br>
            <li>L'aide à l'organisation du repas des enfants pour le midi ou pour le goûter</li>
            </br>
       </ul> 
    </br> 
    Les demandes de premières inscriptions ou de renouvellements s'effectuent en ligne sur le site dans la rubrique "s'inscrire".</br> </br>
    </br>
    Le tarif de cotisation pour les nouveaux adhérents s'élèvent à XX euros par an, avec XX% de moins par enfants suplémentaires de la même famille.</br> </br>
    </br>
    Vous pouvez prendre contact avec un référent de l'association sur la page "contact", pour participer à l'association ou pour toutes autre questions.
   </p>
{% endblock %}
