{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Contact - {{ parent() }}
{% endblock %}


{% block stylesheets %}
{{ parent() }}
<style>
	body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: black;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
 p {
     align:center
 }
</style>
{% endblock %}


{% block body %}
   
	<div id="contact" class="container-fluid bg-grey">
	  <h2 class="text-center">CONTACT</h2>
	  <div class="row">
		<div>
                    
                     <p> Si vous voulez: </p>
                        <br/>
                        
  
                            <ul> 
                           <li> En savoir plus et avoir d'avantage de renseignements</li>
                           <li>Être bénévole</li>
                           <li>Vous inscrire ou inscrire votre enfant à une activité </li>
                           </ul>
                          <br/>
                         
                     

                <p>N'hésitez pas à nous contacter: </p>      	  
		  <p><span class="glyphicon glyphicon-map-marker"></span> Tours 37000</p>
		  <p><span class="glyphicon glyphicon-phone"></span> +33 007 36 15</p>
		  <p><span class="glyphicon glyphicon-envelope"></span> <a href="contact@farym.com">contact@farym.com</a></p>    
		</div>
		
		  
                            
		  </div>  
		</div>
	  </div>
	</div>



{% endblock %}
