{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Ajout / Edition participants - {{ parent() }}
{% endblock %}


{% block body %}
  <h2>Ajout / Edition d'un participant</h2>


  <p>Veuillez entrer les informations concernant le nouveau participant ou modifier celles du participant existant :
<div class="well">

  {{ form(form) }}

</div>
  </p>
{% endblock %}
