{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Ajout / Edition r么le - {{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
	.formulaire {padding-left:10%;}
	p{padding-left:5%;}

	label::after {content: " :	";}
	.form-control{width:auto; margin-left:2%;}	
</style>
{% endblock %}

{% block body %}
  <h2>Ajout / Edition d'un r么le</h2>


  <p>Veuillez entrer les informations concernant le nouveau r么le ou modifier celles du r么le existant :</p>

<div class="formulaire">

  {{ form(form) }}
</div>

{% endblock %}
