{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Ajout / Edition activité - {{ parent() }}
{% endblock %}


{% block body %}
  <h2>Ajout / Edition d'une activite</h2>


  <p>Veuillez entrer les informations concernant la nouvelle activité ou modifier l'activité déjà existante :
<div class="well">

  {{ form(form) }}

</div>
  </p>
{% endblock %}
