{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Ajout / Edition r么le - {{ parent() }}
{% endblock %}


{% block body %}
  <h2>Ajout / Edition d'un r么le</h2>


  <p>Veuillez entrer les informations concernant le nouveau r么le ou modifier celles du r么le existant :
<div class="well">

  {{ form(form) }}

</div>
  </p>
{% endblock %}
