{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Ajout / Edition adhérent - {{ parent() }}
{% endblock %}


{% block body %}
  <h2>Ajout / Edition d'un adhérent</h2>


  <p>Veuillez entrer les informations concernant le nouvel adhérent ou modifier l'adhérent déjà existant :
<div class="well">

  {{ form(form) }}

</div>
  </p>
{% endblock %}
