{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<style>
	.farym {
		color:#9C0000;
		font-weight: bold;
	}
		
</style>
{% endblock %}

{% block title %}
	FARYM - {{ parent() }}
{% endblock %}

{% block body %}



			<h2>L'équipe de développement du site</h2>
			<p><span class="farym">FARYM</span>, c’est d’abord une bande de 5 joyeux lurons !<br>
			Rassemblés par leur désir masochiste de découvrir Symfony2 et leur amour pour le cochon, 
			ils ont choisi de faire un bout de chemin ensemble pour offrir au Tapis Roulant son propre site.</p>

			<p><span class="farym">F</span>lorent, <span class="farym">A</span>liénor, <span class="farym">R</span>ami, <span class="farym">Y</span>asmina 
			et <span class="farym">M</span>arianne vous remercient pour votre visite !</p>
			
	


{% endblock %}
