{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Fiche rôle n° {{ role.id }}- {{ parent() }}
{% endblock %}

{% block body %}
		<a href="/admin">Retour</a>
        <h2>{{ role.typerole }}</h2>
		<p>Description : {{ role.fonction }}</p>
{% endblock %}
