{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Ramassage scolaire - {{ parent() }}
{% endblock %}


{% block stylesheets %}
{{ parent() }}
{% endblock %}


{% block body %}
        <h2>Ramassage scolaire</h2>

<!DOCTYPE html>

  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  
</head>
<body>

<div class="container">
  
            
  <div class="row">
    <div class="col-md-6">
        <h3> Horaires </h3>
     
      <img src="{{ asset('bundles/cciramsco/images/tableau_horaire.jpg') }}" class="img-rounded" alt="carte" width=100% />

      </a>
    </div>
    
    <div class="col-md-6">
        <h3> Trajet </h3>
        
        <img src="{{ asset('bundles/cciramsco/images/carte1.jpg') }}" class="img-rounded" alt="carte" width=100% />
      </a>
    </div>
  </div>
</div>

<br />
<br />
<br />


 


{% endblock %}
